.post-slider {
  position: relative;
}

.post-slider .next-first,
.post-slider .next-second,
.post-slider .next-3rd,
.post-slider .next-4rd {
  position: absolute;
  top: 50%;
  right: -2%;
  cursor: pointer;
}

.post-slider .prev-first,
.post-slider .prev-second,
.post-slider .prev-3rd,
.post-slider .prev-4rd {
  position: absolute;
  top: 50%;
  left: -2%;
  cursor: pointer;
}

.post-slider .post-wrapper {
  overflow: hidden;
}

.post-slider .post-wrapper-4 {
  overflow: hidden;
}

.post-slider .post-wrapper-4 .post {
  margin: 0 5px;
}

.post-slider .post-wrapper-4-second {
  overflow: hidden;
}

.post-slider .post-wrapper-4-second .post {
  margin: 0 8px;
}

.slick-slide img {
  display: inline;
  width: auto;
}

.post.slick-slide.slick-active {
  animation: chuyendong 1s forwards;
}

@keyframes chuyendong {
  from {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 576px) {
  .post-slider .next-first,
  .post-slider .next-second,
  .post-slider .next-3rd {
    display: none !important;
  }
  .post-slider .prev-first,
  .post-slider .prev-second,
  .post-slider .prev-3rd {
    display: none !important;
  }
}
